#mainMenu {
    overflow: hidden;
    position: relative;
}
header {
    width: 100%;
}
nav {
    height: 55px;
    background-color: rgb(230, 50, 50);
    color: rgb(155, 155, 155);
    display: block;
    overflow: visible;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
    color: rgb(200,200,200);
    display: block;
    line-height: 55px;
    padding: 0 24px;
    text-decoration: none;
    text-align: center;
}
nav > ul > li:hover {
    background-color: rgb( 255, 255, 255 );
}
nav > ul > li:hover > a {
    color: rgb( 0, 0, 0 );
}
nav > ul > li > h1 {
    width: 170px;
}
nav > ul > li > h1 > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}
nav > ul > li:hover > h1 > a {
    color: rgb(0, 0, 0);   
}    
nav > ul > li > div {
    background-color: rgb( 230, 50, 50 );
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 165px;
}
nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}
nav > ul > li > div ul > li {
    display: block;
}
nav > ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
}
nav > ul > li > div ul > li:hover > a {
    color: rgb(0, 0, 0);
}
#submitButton {
    height: 35px;
    bottom: 2px;
    width: 70px;
    left: 50px;
    background-color: rgb(230, 50, 50);
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 0 1px;
    border: 0px;
    position: absolute;
}
#submitButton:hover {
    background-color: rgb(255, 255, 255);
    text-shadow: #000 0 1px;
    color: rgb(0, 0, 0);
}
.closeButton {
	background: rgb(230, 50, 50);
	color: rgb(255, 255, 255);
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 2px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
    border: 2px;
	border-color: rgb(0,0,0);
}
.closeButton:hover { 
    background: rgb(255, 255, 255); 
    color: rgb(0,0,0);
}
.jsplumb_enpoint_anchor_ {
    height: :10;
    width: :10;
    position: absolute;
}
.blockFactory {
    height: auto;
    width: 150px;
    height: 35px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: copy;
}
.blockFactory header {
    background-color: rgb(255,255,255);
    text-shadow: #000 0 1px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.blockFactory input {
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    padding: 2px;
    width: 100px;
}
.block {
    position: absolute;
    height: auto;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255,255,255);
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: move;
}
.block header {
    background-color: rgb(230, 50, 50);
    text-shadow: #000 0 1px;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.block table {
    width: 150px;
}
.block tr {
    width: 145px;
    align-content: center;
}
.block input {
    left: 20px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100px;
}
#getBlockDiv {
    position: absolute;
    float: left;
    top: 0px;
    width: 170px;
    bottom: 0px;
    background-color: rgb(230, 50, 50);
    display: block;
    text-align: center;
}
#getBlockDiv h2 {
    align-content: center;
    align-self: center;
    color: rgb(255, 255, 255);
}
#getBlockDiv summary {
    color: rgb(255, 255, 255);
}
#editDiv {
    position: absolute;
    background-image: url("http://www.easilearn.com/de/attachments/95120fdb-a945-4085-a899-3b04622610c5.png");
    top: 0px;
    bottom: 0px;
    left: 170px;
    right: 0px;
}
#editDiv header {
    width: auto;
}
#mainSection {
    top: 63px;
    bottom: 0px;
    width: 100%;
    display: block;
    position: absolute;
}